In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('penguins.csv')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [ ]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [ ]:
df['bill_length_mm'] =  df['bill_length_mm'].fillna(round(df['bill_length_mm'].mean()))
df['bill_depth_mm'] =  df['bill_depth_mm'].fillna(round(df['bill_depth_mm'].mean()))
df['flipper_length_mm'] =  df['flipper_length_mm'].fillna(round(df['flipper_length_mm'].mean()))
df['body_mass_g'] =  df['body_mass_g'].fillna(round(df['body_mass_g'].mean()))
df['sex'] =  df['sex'].fillna('female')

In [ ]:
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df

In [ ]:
cols=['bill_length_mm','bill_depth_mm','flipper_length_mm','body_mass_g','year']

In [ ]:
def scale_this(col):
    return (col - min_v) / (max_v - min_v)

for i in range(len(cols)):
    col=cols[i]

    min_v = df[col].min()
    max_v = df[col].max()

    df[col] = df[col].apply(scale_this)

df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,0.254545,0.666667,0.152542,0.291667,male,0.0
1,Adelie,Torgersen,0.269091,0.511905,0.237288,0.305556,female,0.0
2,Adelie,Torgersen,0.298182,0.583333,0.389831,0.152778,female,0.0
3,Adelie,Torgersen,0.432727,0.464286,0.491525,0.417222,female,0.0
4,Adelie,Torgersen,0.167273,0.738095,0.355932,0.208333,female,0.0
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,0.861818,0.797619,0.593220,0.361111,male,1.0
340,Chinstrap,Dream,0.414545,0.595238,0.508475,0.194444,female,1.0
341,Chinstrap,Dream,0.636364,0.607143,0.355932,0.298611,male,1.0
342,Chinstrap,Dream,0.680000,0.702381,0.644068,0.388889,male,1.0
343,Chinstrap,Dream,0.658182,0.666667,0.440678,0.298611,female,1.0

In [ ]:
df['year'].value_counts()

1.0    120
0.5    114
0.0    110
Name: year, dtype: int64

In [ ]:
df.loc[df["sex"] == "male", "sex"]   = 1
df.loc[df["sex"] == "female", "sex"] = 0

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,0.254545,0.666667,0.152542,0.291667,1,0.0
1,Adelie,Torgersen,0.269091,0.511905,0.237288,0.305556,0,0.0
2,Adelie,Torgersen,0.298182,0.583333,0.389831,0.152778,0,0.0
3,Adelie,Torgersen,0.432727,0.464286,0.491525,0.417222,0,0.0
4,Adelie,Torgersen,0.167273,0.738095,0.355932,0.208333,0,0.0
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,0.861818,0.797619,0.593220,0.361111,1,1.0
340,Chinstrap,Dream,0.414545,0.595238,0.508475,0.194444,0,1.0
341,Chinstrap,Dream,0.636364,0.607143,0.355932,0.298611,1,1.0
342,Chinstrap,Dream,0.680000,0.702381,0.644068,0.388889,1,1.0
343,Chinstrap,Dream,0.658182,0.666667,0.440678,0.298611,0,1.0

In [ ]:
# Y_target (penguin’s location is Torgersen island or not)
Y_target=df[['sex']]
Y_target

    sex
0     1
1     0
2     0
3     0
4     0
..   ..
339   1
340   0
341   1
342   1
343   0

[344 rows x 1 columns]

In [ ]:
x_data=df[['species', 'bill_length_mm', 'bill_depth_mm','flipper_length_mm', 'body_mass_g', 'island', 'year']]

In [ ]:
x_data=pd.get_dummies(x_data)
x_data

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen
0,0.254545,0.666667,0.152542,0.291667,0.0,1,0,0,0,0,1
1,0.269091,0.511905,0.237288,0.305556,0.0,1,0,0,0,0,1
2,0.298182,0.583333,0.389831,0.152778,0.0,1,0,0,0,0,1
3,0.432727,0.464286,0.491525,0.417222,0.0,1,0,0,0,0,1
4,0.167273,0.738095,0.355932,0.208333,0.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
339,0.861818,0.797619,0.593220,0.361111,1.0,0,1,0,0,1,0
340,0.414545,0.595238,0.508475,0.194444,1.0,0,1,0,0,1,0
341,0.636364,0.607143,0.355932,0.298611,1.0,0,1,0,0,1,0
342,0.680000,0.702381,0.644068,0.388889,1.0,0,1,0,0,1,0
343,0.658182,0.666667,0.440678,0.298611,1.0,0,1,0,0,1,0

In [ ]:
x_data.shape

(344, 11)

In [ ]:
Y_target.shape

(344, 1)

In [ ]:
training=int(len(x_data)*0.8)

In [ ]:
X_train = x_data[:training]
X_test  = x_data[training:]

y_train = Y_target[:training]
y_test  = Y_target[training:]

In [ ]:
X_train

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen
0,0.254545,0.666667,0.152542,0.291667,0.0,1,0,0,0,0,1
1,0.269091,0.511905,0.237288,0.305556,0.0,1,0,0,0,0,1
2,0.298182,0.583333,0.389831,0.152778,0.0,1,0,0,0,0,1
3,0.432727,0.464286,0.491525,0.417222,0.0,1,0,0,0,0,1
4,0.167273,0.738095,0.355932,0.208333,0.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
270,0.549091,0.071429,0.711864,0.618056,1.0,0,0,1,1,0,0
271,0.432727,0.464286,0.491525,0.417222,1.0,0,0,1,1,0,0
272,0.534545,0.142857,0.728814,0.597222,1.0,0,0,1,1,0,0
273,0.665455,0.309524,0.847458,0.847222,1.0,0,0,1,1,0,0
274,0.476364,0.202381,0.677966,0.694444,1.0,0,0,1,1,0,0

In [ ]:
X_test

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen
275,0.647273,0.357143,0.694915,0.750000,1.0,0,0,1,1,0,0
276,0.523636,0.571429,0.338983,0.222222,0.0,0,1,0,0,1,0
277,0.650909,0.761905,0.406780,0.333333,0.0,0,1,0,0,1,0
278,0.698182,0.726190,0.355932,0.263889,0.0,0,1,0,0,1,0
279,0.483636,0.666667,0.271186,0.229167,0.0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
339,0.861818,0.797619,0.593220,0.361111,1.0,0,1,0,0,1,0
340,0.414545,0.595238,0.508475,0.194444,1.0,0,1,0,0,1,0
341,0.636364,0.607143,0.355932,0.298611,1.0,0,1,0,0,1,0
342,0.680000,0.702381,0.644068,0.388889,1.0,0,1,0,0,1,0
343,0.658182,0.666667,0.440678,0.298611,1.0,0,1,0,0,1,0

In [ ]:
y_train

    sex
0     1
1     0
2     0
3     0
4     0
..   ..
270   0
271   0
272   0
273   1
274   0

[275 rows x 1 columns]

In [ ]:
y_test

    sex
275   1
276   0
277   1
278   1
279   0
..   ..
339   1
340   0
341   1
342   1
343   0

[69 rows x 1 columns]

In [ ]:
y_test.value_counts()

sex
1      35
0      34
dtype: int64

In [ ]:
print('X_train',X_train.shape)
print('X_test',X_test.shape)

print('y_train',y_train.shape)
print('y_test',y_test.shape)

X_train (275, 11)
X_test (69, 11)
y_train (275, 1)
y_test (69, 1)

In [ ]:
'''class LogitRegression()
    def __init__()
        # Takes as an input hyperparameters: learning rate and the number of iterations.
    def sigmoid():
        # Define a sigmoid function
    def cost():
        # Loss function for Logistic Regression
    def gradient_descent():
        # Define current prediction y_hat for logistic regression
        # Gradient descent is just the derivative of the loss function with respect to its weights
        #To implement this formula, you can use intermediate variables,pred, delta, dW
    def fit():
        # This method performs the training.
        # Initialize weights
        # For a number of iterations
            # Call gradient_descent function
            # Call cost function and keep it in an array , e.g. loss.append()
    def predict(self, X):
        # Return the predicted result in the binary form

note:-
You can try different learning rates and number of iterations to
improve your accuracy, learning_rate=1e-3
iterations=100000
weights = np.random.uniform(0, 1)'''

'class LogitRegression()\n    def __init__()\n        # Takes as an input hyperparameters: learning rate and the number of iterations.\n    def sigmoid():\n        # Define a sigmoid function \n    def cost():\n        # Loss function for Logistic Regression\n    def gradient_descent():\n        # Define current prediction y_hat for logistic regression\n        # Gradient descent is just the derivative of the loss function with respect to its weights\n        #To implement this formula, you can use intermediate variables,pred, delta, dW\n    def fit():\n        # This method performs the training.\n        # Initialize weights\n        # For a number of iterations\n            # Call gradient_descent function\n            # Call cost function and keep it in an array , e.g. loss.append()\n    def predict(self, X):\n        # Return the predicted result in the binary form\n        \nnote:-\nYou can try different learning rates and number of iterations to\nimprove your accuracy, learning_rate=1e-3\niterations=100000\nweights = np.random.uniform(0, 1)'

In [ ]:
import random

In [ ]:
random.seed(123)

In [ ]:
import numpy as np

class LogisticRegression:
    def __init__(self, learning_rate=0.01, num_iterations=1000, weights=None):
        self.learning_rate = learning_rate
        self.num_iterations = num_iterations
        self.weights = weights
        self.bias = 0

    def sigmoid(self, z):
        return 1 / (1 + np.exp(-z.astype('float')))

    def cost(self, w, b, x, y):
        m = x.shape[1]
        # number of examples

        # Compute the sigmoid function
        z = np.dot(x,w.T) + b
        h = 1 / (1 + np.exp(-z.astype('float')))

        # Compute the cost
        J = -1/m * np.sum(y * np.log(h) + (1-y) * np.log(1-h))
        return J


    def fit(self, X, y):
        # If weights are not provided, initialize them randomly
        if self.weights is None:
            self.weights = np.random.uniform(low=0, high=1, size=X.shape[1])

        # Gradient descent loop
        for i in range(self.num_iterations):
            z = np.dot(X, self.weights)
            y_hat = self.sigmoid(z.astype('float'))

            # Compute the gradient of the cost function
            gradient = np.dot(X.T, (y_hat - y)) / len(y)
#             print(len(self.weights.shape))
            Cost = self.cost(self.weights, self.bias, X, y)
            print(Cost)
#             Update weights
            self.weights = self.weights - self.learning_rate * gradient

    def predict(self, X):
        z = np.dot(X, self.weights)
        y_pred = self.sigmoid(z.astype('float'))
        y_label = np.where(y_pred>0.35,1,0)
        return y_pred,y_label

In [ ]:
# Example usage
X = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
y = np.array([0, 1, 0])

# Initialize the model with different hyperparameters and weights
model1 = LogisticRegression(learning_rate=0.01, num_iterations=1000, weights=None)
# model2 = LogisticRegression(learning_rate=0.001, num_iterations=5000, weights=np.zeros(X.shape[1]))
# model3 = LogisticRegression(learning_rate=0.1, num_iterations=100, weights=np.random.uniform(low=0, high=1, size=X.shape[1]))

# Train the model
model1.fit(X, y)
# model2.fit(X, y)
# model3.fit(X, y)

# Predict on new data
X_test = np.array([[2, 3, 4], [5, 6, 7]])
y_pred1 = model1.predict(X_test)
y_pred2 = model2.predict(X_test)
y_pred3 = model3.predict(X_test)

In [ ]:
model1 = LogisticRegression(learning_rate=0.001, num_iterations=5000, weights=None)

In [ ]:
model1.fit(np.array(X_train), np.array(y_train['sex']))

In [ ]:
model1.weights

array([0.38542747968764446, 0.057091126938951305, 0.1356141547934901,
       0.21512948117560887, -0.08640123129825597, 0.09300972330365315,
       0.11492073951615123, -0.21197551715121857, -0.03379976580421902,
       0.1375513351916911, 0.045618119451187746], dtype=object)

In [ ]:
y_pred, y_label = model1.predict(X_test)

In [ ]:
y_label

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1])

In [ ]:
y_pred

array([0.54816947, 0.64122774, 0.66233635, 0.66107071, 0.63715028,
       0.6693939 , 0.64622336, 0.62948555, 0.66294429, 0.6516328 ,
       0.6653677 , 0.64603251, 0.66617156, 0.64094971, 0.67099651,
       0.63800947, 0.66860161, 0.65650772, 0.67433628, 0.64025427,
       0.66401892, 0.62242338, 0.64513793, 0.61733748, 0.66118545,
       0.64070929, 0.67163608, 0.64779691, 0.65097664, 0.63299061,
       0.67539621, 0.60366354, 0.67559903, 0.61130992, 0.6610153 ,
       0.6456506 , 0.64199388, 0.64185925, 0.67976054, 0.61927224,
       0.67674159, 0.65738773, 0.62902678, 0.65010542, 0.62867996,
       0.640058  , 0.65387079, 0.6304572 , 0.65354673, 0.63259796,
       0.63661864, 0.62531218, 0.64976949, 0.61946537, 0.65102454,
       0.60197451, 0.64309113, 0.61063966, 0.64686411, 0.64409513,
       0.62198158, 0.65473648, 0.62035451, 0.62077186, 0.66861132,
       0.61553001, 0.63610883, 0.65458784, 0.64148497])

In [ ]:
y_test

    sex
275   1
276   0
277   1
278   1
279   0
..   ..
339   1
340   0
341   1
342   1
343   0

[69 rows x 1 columns]

In [ ]:
y_actual = [val for val in y_test['sex']]

In [ ]:
len(y_label)

69

In [ ]:
acc = 0
for i in range(len(y_label)):
    if y_label[i]==y_actual[i]:
        acc+=1

In [ ]:
acc

35

In [ ]:
acc/len(y_label)

0.5072463768115942